﻿@{
    ViewBag.Title = "Employee";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm())
{
    <label class="form-group">
        Name and surname: <br />
        <input type="text" name="employee" class="form-control" />
    </label>
    <br />
    <label class="form-group">
        Start date: <br />
        <input type="date" name="date1" class="form-control" />
    </label>
    <br />
    <label class="form-group">
        End date: <br />
        <input type="date" name="date2" class="form-control" />
    </label>
    <br />
    <br />
    <input type="submit" class="btn btn-success" value="Request a vacation" />
}

