﻿@{
    ViewBag.Title = "HR";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<div class="container">
    <div class="row">
        <div class="col-lg-2" id="col-1">
            <button class="btn btn-primary" id="employee">Add Employee</button>
            <div id="dialog-1">
                
                @using (Html.BeginForm())
                {
                    <label class="form-group">
                        Name: <br />
                        <input type="text" name="name" class="form-control" placeholder="Employee name" />
                    </label>
                    <br />
                    <label class="form-group">
                        Surname: <br />
                        <input type="text" name="surname" class="form-control" placeholder="Employee Surname" />
                    </label>
                    <br />
                    <label class="form-group">
                        Years of Service: <br />
                        <input type="number" name="yearsOfService" class="form-control" placeholder="Years of service" />
                    </label>
                    <br />
                    <label class="form-group">
                        Post: <br />
                        <input type="text" name="post" class="form-control" placeholder="HR/Manager/Employee" />
                    </label>
                    <br />
                    <br />
                    <input type="submit" class="btn btn-success" value="Add Employee" />
                    <button id="closeBtn1" type="button" class="btn btn-block">Close</button>
                }

            </div>
        </div>
        <div class="col-lg-2" id="col-2">
            <button class="btn btn-primary" id="policies">Set Policies</button>
            <div id="dialog-2">
                
                @using (Html.BeginForm("SetPolicies", "Home"))
                {
                    <table border=0 class="MyTable">
                        <thead>
                            <tr>
                                <th>Years:</th>
                                <th>Days per year:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                                <td>
                                    <div><input name="textfield" type="text" value=""></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button id="closeBtn2" type="button" class="btn btn-block">Close</button>

                  }
                


            </div>
        </div>
        <div class="col-lg-2" id="col-3">
            <button class="btn btn-primary" id="holidays">Set Holidays</button>
            <div id="dialog-3">
                @using (Html.BeginForm("SetHolidays", "Home"))
                {
                    <div class="form-group">
                        <label>Date:</label>
                        <input type="date"  class="form-control" id="end">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button id="closeBtn3" type="button" class="btn btn-block">Close</button>
                }
                </div>
        </div>
    </div>
</div>