﻿@{
    ViewBag.Title = "Manager";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using MyProj.Database;

@{
    int counter = 0;
    using (var context = new Db())
    {

        if (context.Requests != null)
        {
            foreach (var item in context.Requests)
            {
                counter++;
            }
        }


        <button class="btn btn-primary" id="manageRequests">
            Active requests: <br /> @counter
        </button>
        using (Html.BeginForm("RequestDecision", "Home"))
        {
            <div id="reqs"></div>
            <div id="dialog-man">

                <select class="dropdown dropdown-header">
                    @foreach (var item in context.Requests)
                    {
                        <option class="dropdown">@item.Users.C_name @item.Users.C_surname: @item.C_date1.ToShortDateString() - @item.C_date2.ToShortDateString()</option>

                     }

                </select>

                    <br />
                    <br />
                    <button class="btn btn-success" id="accept-btn" onclick="">Accept</button>
                    <button class="btn btn-block" id="deny-btn">Deny</button>

                    </div>
                }
            }


}

