﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#calendar {
    max-width: 900px;
    max-height: 900px;
    margin: auto;
}
#calendar .fc-toolbar{
    margin-top: 25px;
}
#calendar .fc-day {
    transition: all .05s;
}
#calendar .fc-day:hover {
    background: #ccc;
}

#dialog{
    padding-left:5px;
    border: thin;
    border-color: cadetblue;
}

#closeBtn1, #closeBtn2, #closeBtn3, #deny-btn{
    width: 70px;
    background-color: crimson;
    color: white;
    margin-left: 200px;
    margin-top: -35.5px;
    margin-bottom: 10px;
}

#col-1, #col-2, #col-3 {
    width: 350px;
}

#deny-btn {
    display: block;
    width: 70px;
    background-color: crimson;
    color: white;
    margin-left: 200px;
    margin-top: -35.5px;
    margin-bottom: 10px;
}

.MyTable {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 340px;
}
.MyTable thead, tbody {
    width:300px;
}

